url(https://fonts.googleapis.com/css?family=Montserrat);

:root { /* adjusts everything */
  box-sizing: border-box;
  font-size: 150%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    font-family: Montserrat;
    background-image: linear-gradient(40deg, #4ebde99d, #effa55be); 
    background-position: center;
    background-attachment: fixed;
}

input {
    margin: 2% 2%;
}

p {
    font-family: inherit;
    font-size: 120%;
    text-align: center;
}

#loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loading p {
    z-index: 1001;
    color: ivory;
}


